@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/FuturaDemiC.woff2') format('woff2'),
	url('../fonts/FuturaDemiC.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaMediumC';
	src: url('../fonts/FuturaMediumC.woff2') format('woff2'),
	url('../fonts/FuturaMediumC.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/FuturaBookC.woff2') format('woff2'),
	url('../fonts/FuturaBookC.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
	url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	margin-top: 91px;
	background-color: #131313;
	font-family: "FuturaDemiC", "Arial", sans-serif;
}