.design-projects{
  padding-top: 153px;
  height: 800px;
  background-color: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 80%, 
        rgba(19,19,19,1) 80%);
}
.center-head-line-3{
  margin: 20px auto 60px;
}
.center-head-line-3::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 29px;
  padding: 0 10px;
  background: #fff url("../img/design.svg") no-repeat center center;
  background-size: contain;
  content: "";
}
.design-projects__text{
  width: 763px;
  margin: 0 auto;
  padding-bottom: 38px;
  font-family: $main-font;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}