.center-headings{
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.video-box{
  padding-bottom: 100px;
  background: rgb(255,255,255);
  background: linear-gradient(to top, rgba(255,255,255,1) 60%, rgba(19,19,19,1) 60%);
}
.center-head-line{
  position: relative;
  width: 15%;
  height: 2px;
  border: none;
  background-color: #E3B873;
  overflow: visible;
}
.center-head-line-1{
  margin: 20px auto 60px;
}
.center-head-line-1::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 29px;
  padding: 0 10px;
  background: #131313 url("../img/online.svg") no-repeat center center;
  background-size: contain;
  content: "";
}
.center-headings-wrapper{
  position: relative;
  margin-bottom: 55px;
}
.center-headings{
  margin: 0;
}
.video{
  position: relative;
  margin: 0 auto;
  margin-bottom: 98px;
  width: 817px;
  height: 434px;
  background:
  linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
  url("../img/video-img.jpg") no-repeat center center / contain;
  box-shadow: 0px 6px 18px -1px rgba(0,0,0,0.8);

}
.video__play-button {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 50%;
  left: 50%;
  padding: 0;
  border: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #E3B873;
  cursor: pointer;
  text-align: center;
}
.video__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
}
.video::after{
  position: absolute;
  content: "";
  width: 55px;
  height: 2px;
  top: 500px;
  left: 46%;
  margin: 0 auto;
  background-color: #E3B873;
}
.video-box__text{
  width: 680px;
  margin: 0 auto;
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}